{% extends "outline.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">Mount Union CyberCon 2020</a></h2>
    <p class="article-content">Welcome to the 1st anniversary of the Mount Union annual Cyber Con!</p>
    <p class="article-content">Join us for presentations diving into topics of cyber security, software development, and engineering.</p>
    <p class="article-content">At CyberCon 2020, we will be hearing from students and professionals in the cyber security, software development, and engineering industries. Join us to hear presentations from our speakers, participate in a CTF, and network with professionals.</p>
    <p class="article-content">Interested? <a href="/register">Register Here!</a></p>
  </div>
</article>
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">Open call for presenters!</a></h2>
      <p class="article-content">Interested in giving a talk? <a href="/register">Register Here!</a></p>
  </div>
</article>
{% endblock content %}